<aside class="sidebar" itemscope itemtype="https://schema.org/WPSideBar">
  <div class="slimContent">
    <% if(theme.profile.links) { %>
    <div class="widget">
      <h3 class="widget-title"><%= __('profile.link') %></h3>
      <div class="widget-body">
        <ul class="link-list lh-2x sidebar-link">
          <% for(var i in theme.profile.links) { %>
          <li>
            <%= i %>:
            <a href="<%- theme.profile.links[i] %>" target="_blank"><%- theme.profile.links[i] %></a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
    <% } %>
    <% if(theme.profile.skills) { %>
    <div class="widget">
      <h3 class="widget-title"><%= __('profile.skill') %></h3>
      <div class="widget-body">
        <ul class="skill-list lh-2x">
          <% for(var i in theme.profile.skills) { %>
          <li class="clearfix skill-li" >
            <div class="skill-process" style=" width: <%= theme.profile.skills[i].process %>;background:<%= theme.profile.skills[i].color %>"></div>
            <span><%= i %></span>
            <span class="pull-right"><%- theme.profile.skills[i].process %></span>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
    <% } %>
    <% if(theme.profile.labels) { %>
    <div class="widget">
      <h3 class="widget-title"><%= __('profile.label') %></h3>
      <div class="widget-body">
        <% for(var i in theme.profile.labels) { %>
        <span class="label label-default mb" style="background:<%- theme.profile.labels[i].color %> "><%- theme.profile.labels[i].name %></span>
        <% } %>
      </div>
    </div>
    <% } %>
    <% if(theme.profile.works) { %>
    <div class="widget">
      <h3 class="widget-title"><%= __('profile.work') %></h3>
      <div class="widget-body">
        <ul class="work-list lh-2x">
          <% for(var i in theme.profile.works) { %>
          <li class="clearfix">
            <a href="<%- theme.profile.works[i].link %>" target="_blank" title="<%= i %>">
              <span><%= i %></span>
              <span class="pull-right text-muted"><%- theme.profile.works[i].date %></span>
            </a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
    <% } %>
    <% if(theme.profile.projects) { %>
    <div class="widget">
      <h3 class="widget-title"><%= __('profile.project') %></h3>
      <div class="widget-body">
        <ul class="project-list list-square lh-2x">
          <% for(var i in theme.profile.projects) { %>
          <li class="public source">
            <a href="<%- theme.profile.projects[i] %>" target="_blank" title="<%= i %>">
              <span class="repo-icon octicon octicon-repo"></span>
              <span class="repo-and-owner css-truncate-target"><%= i %></span>
            </a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
    <% } %>
  </div>
</aside>