<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>
window.jQuery || document.write('<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"><\/script>')
</script>
<%- js('js/plugin.min') %>
<%- js('js/application') %>
<%- partial('_script/search') %>
<% if (page.layout === 'repository'){ %>
   <%- partial('_script/repository') %>
<% } %>
<% if (page.layout === 'books'){ %>
   <%- partial('_script/douban') %>
<% } %>
<% if (is_home() || is_post()) { %>
   <%- partial('_script/pv') %>
<% } %>
<% if (!is_home() && !is_category() && !is_tag() && !is_archive() && post.comments) { %>
   <%- partial('_script/comment') %>
<% } %>
<%- partial('_script/fancybox') %>
<%- partial('_script/analytics') %>